@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');
:root{
    --primary-color: rgb(219,4,4);
    --bg-color: linear-gradient(to bottom right, #b52b2b, #ff0A0A);
    --grey: #919294;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins";
}
img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}
#logo{
    display: none;
}
header{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}
nav a{
    font-family: "Jost";
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 0.0625rem;
}
nav a:hover{
    background-color: #fff;
    color: var(--primary-color);
    transition: 0.3s;
}
article {
    width: 90%;
    margin: auto;
    padding: 5rem 0 5rem 0;
    text-align: center;
}
#hero{
    padding-top: 14rem;
    color: #fff;
    background: url(images/bg-hero.png),
    var(--bg-color);
    background-position: center bottom;
    background-repeat: no-repeat;
}
 h1 {
    font-size: 3rem;
    line-height: 1.2;
}
#hero p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1em;
}
#hero button {
    padding: 0.8rem;
    margin: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    font-family: inherit;
    background: var(--bg-color);
    color: #fff;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.5rem;
}
#hero button:hover {
    color: var(--bg-color);
    transform: translateY(2px);
}
h2, h3, h4 {
    font-size: 3rem;
    font-weight: 300;
    padding: 0.2em;
    margin: 1em;
    text-align: center;
}
.feature-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 100;
}
.feaature-card {
    font-size: 1.5rem;
    border: 1px solid #fff;
    background-color: #f0f6ff;
    padding: 1.5em;
    margin: 1.4rem;
    border-radius: 20px;
    transition: 0.5s;
}
.feaature-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
.feaature-card .logo {
    width: 60px;
    margin: auto;
    text-align: center;
    font-size: 2.3rem;
    background: var(--bg-color);
    color: #fff;
    border-radius: 45px;
    padding: 13px;
}
.feaature-card h6 {
    font-size: 1.8rem;
    margin: 5px;
    margin-bottom: 10px;
}
#Download div p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}
.Download-buttons {
    background: var(--bg-color);
    border-radius: 7px;
    margin: 20px;
}
.Download-button {
    display: flex;
    color: #fff ;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}
.Download-button p {
    color: #fff !important;
}
.fa-apple , .fa-android{
    font-size: 25px;
}
form input, textarea {
    width: 94%;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #fff;
    color: #252525;
    font-size: 1.5rem;
    font-family: inherit;
    margin: 10px 0;
    padding: 4px;
}
form textarea {
    height: 150px;
}
form input:focus, textarea:focus {
    outline: 2px solid #f83d3d;
}
form button {
    padding: 15px;
    margin: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    font-family: inherit;
    background: var(--bg-color);
    color: #fff;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.5rem;
}
form button:hover {
    color: var(--bg-color);
    transform: translateY(2px);
}
footer {
    background: url(images/bg-footer.png ) , 
    var(--bg-color);
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 5rem;
    padding-top: 16rem;
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff;
    text-align: center;
}
.footer-info{
    display: grid;
    margin-left: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
}
footer ul li {
    text-align: left;
    margin: 10px;
}
h5 {
    font-size: 1.6rem;
    text-align: left;
}
.fab {
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
}

/* media 480 */
@media (min-width:480px) {
    header{
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: space-between;
    }
    #logo{
        display: unset;
        width: 80px;
    }
    nav a{
        color: #000;
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 0.8em;
    }
    nav ul {
        display: flex;
    }
    .feaature-card {
        max-width: 270px;
    }
    .Download-buttons {
        max-width: 350px;
        display: block;
        margin: 20px auto;
    }
    form {
        margin: auto;
        max-width: 85%;
    }
}
/* media 720 */
@media (min-width:720px){
    h1 {
        font-size: 5rem;
    }
    h2, h3, h4 {
        font-size: 3.5rem;
    }
    #hero div img {
        width: 70%;
        margin: auto;
    }
    #Download img {
        width: 70%;
        margin: auto;
    }
    #Download p, .DB {
        width: 90%;
        margin: auto;
    }
    .DB {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Download-buttons {
        margin: 10px;
    }
    .fa-apple , .fa-android{
        font-size: 46px;
    }
    form {
        width: 524px;
    }
    .footer-info{
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}
@media (min-width:900px){
    #hero div img {
        width: 50%;
        margin: auto;
    }
}
@media (min-width:970px){
    #hero {
        padding-bottom: 7rem;
    }
    #hero article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30;
    }
    #hero div img {
        width: 50%;
        margin: auto;
        margin-top: 20px;
    }
    .CDownload {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }
    .footer-info{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
    }
}
@media (min-width:1200px){
    main, footer {
        max-width: 1140px;
        margin: auto;
    }
    header {
        justify-content: space-around;
    }
}